body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Removes horizontal scroll */
}
.connect-icons {
  width: 25px !important;
  height:25px !important;

}

.icon-outer{
  border:2px solid #3E3E3E;
  border-radius: 25px;
  padding: 10px;
}

.login-main {
  width: 100%;

  margin: 0;
  padding: 0;
  overflow: hidden;
}

.form-input-value {
  border: 2px solid #3e3e3e !important;
  border-radius: 0px !important;
}

.form-input-value::placeholder {
  color: #3e3e3e;
  font-weight: 600!important;
  font-size: 16px!important;
}

.sign-in-btn {
  width: 100%;
  background-color: #3c3c3c !important;
  color: #fcfcfc !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  padding: 10px 0px 10px !important;
  text-align: center;
  margin: 20px 0px !important;
  border-radius: 0px !important;
  border: none !important;
  padding: 8px 0 8px !important;
}

.sign-in-heading {
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  text-align: justify;
}

.sign-in-heading {
  color: #3d3d3d;
}
.sign-in-heading h2 {
  font-size: 32px!important;
  font-weight: 700px!important;
}

.sign-in-heading h6 {
  font-size: 16px!important;
  font-weight: 700!important;
  padding: 10px 0 20px;
}

.form-check-label {
  font-size: 16px!important;
  font-weight: 600!important;
  color: #3d3d3d;
}

.form-check-input {
  background-color: #f2f2f2 !important;
  border: 1px solid #000 !important;
  border-radius: 0px !important;
}

.form-check {
  display: flex !important;
  justify-content: flex-start !important;
  gap: 20px !important;
}

.create-an-account {
  color: #587fff !important;
  font-size: 16px !important;
  font-weight: 600 !important;
}

.login-img {
  margin-top: -83px;
  display: flex;
  justify-content: center;
}

.login-img img {
  width: 100%;
}

.p-100 {
  padding: 80px 150px 80px 200px;
}

.p-140 {
  padding: 80px 95px 80px 75px;
}
.icon-main {
  margin-top: 25px;
  gap: 15px;
  display: flex;
  justify-content: center;
}
.sign-in-with {
  display: flex;
}

.alert-danger {
  font-size: 12px !important;
}

.sign-in-with-text {
  color: #3d3d3d;
  font-size: 13px!important;
  font-weight: 700 !important;
  width: 200px;
  margin-top: 5px;
}
.line-input {
  border: none;
  border-bottom: 2px solid #cfcfcf;
  outline: none;
  width: 150px;
  margin-bottom: 7px;
}

/* Slider */
.slider-content {
  height: 500px;
  border: 2px solid #3d3d3d;
  background: #f0f0f0;
}

/* Card */
.card-img,
.card-img-top {
  border-top-left-radius: unset !important;
  border-top-right-radius: unset !important;
}
.card-img-country {
  margin: 20px;
  width: 159px;
  height: 112px;
  height: 160px;
}
.country-title {
  font-size: 24px !important;
  font-weight: 600!important;
  text-align: justify;
  color: #3d3d3d;
}

.country-title-text {
  font-size: 16px!important;
  font-weight: 400!important;
  color: #6f6f6f;
  text-align: justify;
}

/* Copy rights  */
.copyrights-div {
  margin: 30px 0px 200px 0px;
  font-size: 13px!important;
  font-weight: 700!important;
}
@media only screen and (max-width: 840px) {
  .login-img-main {
    display: none !important;
    width: 0;
    height: 0;
    overflow: hidden;
  }

  .login-main {
    margin: 0px;
    justify-content: center;
    width: 100%;
    padding: 100px 30px;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  .p-100 {
    padding: 0px !important;
  }

  .remove-padding {
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin: 0px;
  }

  .card-img-country {
    height: 70px;
  }

  .slider-content {
    height: 300px;
    border: "2px solid #3D3D3D";
  }

  .carousel-item {
    margin-top: 10px;
  }
}
